# generati
tools/node_modules/
tools/app/build/
tools/app/dist/
__pycache__/
*.pyc
# file del PC
.DS_Store
Thumbs.db
ArduLearnBridge/build/
ArduLearnBridge/data/
tools/app/firmware/ArduLearnBridge_littlefs.bin
